body {
    background-color: black;
    color:aliceblue;
    font-family: "Caprasimo", serif;
}
footer {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;

}
footer p {
    text-align: center;
    font: 0.6rem;
    margin-top: 0.5rem;
}
.cartão{
    margin: 1rem 1rem;
    background-color: rgb(99, 92, 92);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}
.cartão_conteudo {
    text-align: center;
    background-color: rgb(180, 139, 218);
    height: 100%;
}

.cartão_conteudo_resposta h3 {
    background-color: brown;
    text-align: left;
    padding: 0.5rem;
}